@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600;700&display=swap');
@import '../../styles/utils/vars.scss';

.nav,
.nav>* {
  z-index: 10000;
}

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #fff;
  width: 80px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

  &:hover {
    width: 275px;
    transition: all 0.5s ease;
  }

  .cart-page__product-list {
    display: none;
  }
}

.drop-container {
  width: 20vw;

  &:hover {
    width: 20vw;
  }

  ul {
    display: none;
  }

  .title {
    display: none;
  }

  .cart-page__product-list {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &>* {
      width: 90%
    }

    .product-item {
      display: none;
    }

    .product-item:not(.new):nth-child(-n+3) {
      background-color: $elements;
      display: flex;
    }

    .new {
      height: 250px;
      background-color: $white;
      border: 8px dashed $elements;
      color: $elements;
      font-size: 3.5rem;
      font-weight: 600;
      display: flex;
      justify-content: center;
    }

    .overed {
      border: 8px dashed $icons;
      color: $icons;
    }
  }
}

.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 0;
}

.logo span {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 20px;
  font-weight: 700;
  display: table;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.nav-item {
  position: relative;
  top: -5px;
  margin-bottom: 30px;
  font-size: 28px;
}

a:hover {
  background: #eee;
}

.logout {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.cart-count {
  position: absolute;
  z-index: 1;
  left: 15%;
  bottom: 59%;
  width: 2rem;
  height: 2rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  background-color: $red;
  border: 2px solid $white;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}