@import '../../styles/utils/mixins.scss';

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  padding: 50px;
  padding-top: 25px;

  @include onDesktop() {
    padding-right: 0px;
  }

  &__input {
    margin-bottom: 40px;
    height: 3em;
    width: 75%;
    font-size: 1rem;
    padding: 20px;
  }

  &__list {
    @include onDesktop() {
      padding-left: 40px;
      padding-right: 40px;
    }

    list-style-type: none;
  }

  &__item {
    margin-bottom: 35px;
    grid-column: span 6;
  }
}